# Build, test, and run static analyses, and send reports to external services
# Runs only on pushing to main
name: Build & test
on:
  push:
    branches:
      - main
jobs:
  build:
    strategy:
      max-parallel: 1
      matrix:
        os: ["ubuntu-20.04", "windows-2019", "macos-10.15"]
        python-version:
          - 3.9
    runs-on: "${{ matrix.os }}"
    services:
      mysql:
        image: mariadb:latest
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: test
          ports:
            - 3306:3306
          options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: read action options
        id: read_options
        run: |
          json=`cat .github/action-options.json`
          USE_SLACK=`echo $(jq -r '.use_slack' <<< "$json")`
      - name: Initialize MariaDB
        run: |
          mysqladmin --host=127.0.0.1 ping
      - name: "Set up Python ${{ matrix.python-version }}"
        uses: actions/setup-python@v2
        with:
          python-version: "${{ matrix.python-version }}"
      - name: Install build meta-dependencies
        run: |
          pip install poetry tox
      - name: Test with tox
        run: |
          tox -v
      - name: Update coveralls
        run: |
          pip install coveralls
          coveralls || true
